.version.actividades_realizadas {
	color: #00000C;
	background-color: #E280CC;
}

#page {
	background-image: none;
	z-index: 1;
	border-color: #000000;
	margin-right: auto;
	width: 100%;
	background-color: transparent;
	border-width: 0px;
	margin-left: auto;
}

#pu119 {
	margin-right: -10000px;
	z-index: 2;
	margin-top: 20px;
}

#u119 {
	z-index: 2;
	position: relative;
	left: 0%;
}

#u4127 {
	margin-right: -10000px;
	z-index: 157;
	position: relative;
	width: 141px;
}

#u21685 {
	margin-right: -10000px;
	z-index: 160;
	position: relative;
	width: 27px;
}

#u143 {
	margin-right: -10000px;
	z-index: 3;
	position: relative;
}

#u3320 {
	left: 0px;
	z-index: 151;
	position: relative;
	width: 311px;
}

#u3754-4 {
	min-height: 33px;
	position: relative;
	z-index: 153;
}

#u4186 {
	left: 0%;
	z-index: 159;
	position: relative;
	height: 1px;
}

#menuu168 {
	left: 0%;
	z-index: 5;
	position: relative;
	height: 24px;
}

#u179 {
	position: relative;
}

#u180-4 {
	margin-right: -10000px;
	left: 13px;
	position: relative;
}

#u181 {
	margin-right: -10000px;
	z-index: 12;
	position: relative;
	width: 14px;
	top: 4px;
	height: 14px;
}

#u35400 {
	margin-right: -10000px;
	padding-bottom: 4px;
	width: 118px;
	position: relative;
}

#u35400:hover {
	min-height: 0px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u35403-4 {
	margin-right: -10000px;
	left: 43px;
	padding-top: 4px;
	min-height: 13px;
	padding-left: 2px;
	position: relative;
	width: 24px;
	top: 2px;
	padding-right: 2px;
}

#u35400:hover #u35403-4 {
	padding-bottom: 0px;
	padding-top: 4px;
	min-height: 13px;
	width: 24px;
	margin: 0px -10000px 0px 0px;
}

#u35400.MuseMenuActive #u35403-4 {
	padding-bottom: 0px;
	padding-top: 4px;
	min-height: 13px;
	width: 24px;
	margin: 0px -10000px 0px 0px;
}

#u262 {
	position: relative;
}

#u265-4 {
	margin-right: -10000px;
	left: 13px;
	position: relative;
}

#u263 {
	margin-right: -10000px;
	z-index: 27;
	position: relative;
	width: 14px;
	top: 4px;
	height: 14px;
}

#u260 {
	width: 183px;
	top: 24px;
}

#u3390 {
	margin-right: -10000px;
	padding-bottom: 4px;
	width: 181px;
	position: relative;
}

#u3390:hover {
	min-height: 0px;
	width: 181px;
	margin: 0px -10000px 0px 0px;
}

#u3393-4 {
	margin-right: -10000px;
	left: 52px;
	padding-top: 4px;
	min-height: 17px;
	padding-left: 2px;
	position: relative;
	width: 69px;
	top: 2px;
	padding-right: 2px;
}

#u3390:hover #u3393-4 {
	padding-bottom: 0px;
	padding-top: 4px;
	min-height: 17px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u3390.MuseMenuActive #u3393-4 {
	padding-bottom: 0px;
	padding-top: 4px;
	min-height: 17px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u29633 {
	margin-right: -10000px;
	padding-bottom: 4px;
	width: 181px;
	position: relative;
}

#u3390.MuseMenuActive,
#u29633:hover {
	min-height: 0px;
	width: 181px;
	margin: 0px -10000px 0px 0px;
}

#u29634-4 {
	margin-right: -10000px;
	left: 59px;
	padding-top: 4px;
	min-height: 17px;
	padding-left: 2px;
	position: relative;
	width: 56px;
	top: 2px;
	padding-right: 2px;
}

#u29633:hover #u29634-4 {
	padding-bottom: 0px;
	padding-top: 4px;
	min-height: 17px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u29633.MuseMenuActive #u29634-4 {
	padding-bottom: 0px;
	padding-top: 4px;
	min-height: 17px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u24640 {
	margin-right: -10000px;
	padding-bottom: 4px;
	width: 181px;
	position: relative;
}

#u29633.MuseMenuActive,
#u24640:hover {
	min-height: 0px;
	width: 181px;
	margin: 0px -10000px 0px 0px;
}

#u24643-4 {
	margin-right: -10000px;
	left: 35px;
	padding-top: 4px;
	min-height: 17px;
	padding-left: 2px;
	position: relative;
	width: 103px;
	top: 2px;
	padding-right: 2px;
}

#u24640:hover #u24643-4 {
	padding-bottom: 0px;
	padding-top: 4px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u24640.MuseMenuActive #u24643-4 {
	padding-bottom: 0px;
	padding-top: 4px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u3468 {
	margin-right: -10000px;
	padding-bottom: 4px;
	width: 181px;
	position: relative;
}

#u24640.MuseMenuActive,
#u3468:hover {
	min-height: 0px;
	width: 181px;
	margin: 0px -10000px 0px 0px;
}

#u3471-4 {
	margin-right: -10000px;
	left: 48px;
	padding-top: 4px;
	min-height: 17px;
	padding-left: 2px;
	position: relative;
	width: 77px;
	top: 2px;
	padding-right: 2px;
}

#u3468:hover #u3471-4 {
	padding-bottom: 0px;
	padding-top: 4px;
	min-height: 17px;
	width: 77px;
	margin: 0px -10000px 0px 0px;
}

#u3468.MuseMenuActive #u3471-4 {
	padding-bottom: 0px;
	padding-top: 4px;
	min-height: 17px;
	width: 77px;
	margin: 0px -10000px 0px 0px;
}

#u26554 {
	margin-right: -10000px;
	padding-bottom: 4px;
	width: 181px;
	position: relative;
}

#u3468.MuseMenuActive,
#u26554:hover {
	min-height: 0px;
	width: 181px;
	margin: 0px -10000px 0px 0px;
}

#u26555-4 {
	margin-right: -10000px;
	left: 55px;
	padding-top: 4px;
	min-height: 17px;
	padding-left: 2px;
	position: relative;
	width: 63px;
	top: 2px;
	padding-right: 2px;
}

#u26554:hover #u26555-4 {
	padding-bottom: 0px;
	padding-top: 4px;
	min-height: 17px;
	width: 63px;
	margin: 0px -10000px 0px 0px;
}

#u26554.MuseMenuActive #u26555-4 {
	padding-bottom: 0px;
	padding-top: 4px;
	min-height: 17px;
	width: 63px;
	margin: 0px -10000px 0px 0px;
}

#u261,
#u3387,
#u29632,
#u24639,
#u3467,
#u26551,
#u34888 {
	width: 183px;
	position: relative;
}

#u34891 {
	margin-right: -10000px;
	padding-bottom: 4px;
	width: 181px;
	position: relative;
}

#u26554.MuseMenuActive,
#u34891:hover {
	min-height: 0px;
	width: 181px;
	margin: 0px -10000px 0px 0px;
}

#u34891.MuseMenuActive {
	min-height: 0px;
	width: 181px;
	margin: 0px -10000px 0px 0px;
}

#u34893-4 {
	margin-right: -10000px;
	left: 54px;
	padding-top: 4px;
	min-height: 17px;
	padding-left: 2px;
	position: relative;
	width: 65px;
	top: 2px;
	padding-right: 2px;
}

#u34891:hover #u34893-4 {
	padding-bottom: 0px;
	padding-top: 4px;
	min-height: 17px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u34891.MuseMenuActive #u34893-4 {
	padding-bottom: 0px;
	padding-top: 4px;
	min-height: 17px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u24189 {
	position: relative;
}

#u24192-4 {
	margin-right: -10000px;
	left: 12px;
	position: relative;
}

#u24190 {
	margin-right: -10000px;
	z-index: 72;
	position: relative;
	width: 14px;
	top: 5px;
	height: 14px;
}

#u24180 {
	width: 168px;
	top: 24px;
}

#u24181,
#u31900 {
	width: 168px;
	position: relative;
}

#u31902 {
	margin-right: -10000px;
	padding-bottom: 4px;
	width: 166px;
	position: relative;
}

#u31902:hover {
	min-height: 0px;
	width: 166px;
	margin: 0px -10000px 0px 0px;
}

#u31902.MuseMenuActive {
	min-height: 0px;
	width: 166px;
	margin: 0px -10000px 0px 0px;
}

#u31906-4 {
	margin-right: -10000px;
	left: 24px;
	padding-top: 4px;
	min-height: 13px;
	padding-left: 2px;
	position: relative;
	width: 111px;
	top: 2px;
	padding-right: 2px;
}

#u31902:hover #u31906-4 {
	padding-bottom: 0px;
	padding-top: 4px;
	min-height: 13px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u31902.MuseMenuActive #u31906-4 {
	padding-bottom: 0px;
	padding-top: 4px;
	min-height: 13px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u4298 {
	position: relative;
}

#u4300-4 {
	margin-right: -10000px;
	left: 12px;
	position: relative;
}

#u4301 {
	margin-right: -10000px;
	z-index: 87;
	position: relative;
	width: 14px;
	top: 5px;
	height: 14px;
}

#u4302 {
	width: 163px;
	top: 24px;
}

#u22828 {
	margin-right: -10000px;
	padding-bottom: 4px;
	width: 161px;
	position: relative;
}

#u22828:hover {
	min-height: 0px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u22834-4 {
	margin-right: -10000px;
	left: 20px;
	padding-top: 4px;
	min-height: 13px;
	padding-left: 2px;
	position: relative;
	width: 114px;
	top: 2px;
	padding-right: 2px;
}

#u22828:hover #u22834-4 {
	padding-bottom: 0px;
	padding-top: 4px;
	min-height: 13px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#u23385 {
	margin-right: -10000px;
	padding-bottom: 4px;
	width: 161px;
	position: relative;
}

#u22828.MuseMenuActive,
#u23385:hover {
	min-height: 0px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u23386-4 {
	margin-right: -10000px;
	left: 20px;
	padding-top: 4px;
	min-height: 13px;
	padding-left: 2px;
	position: relative;
	width: 114px;
	top: 2px;
	padding-right: 2px;
}

#u22828.MuseMenuActive #u22834-4,
#u23385:hover #u23386-4 {
	padding-bottom: 0px;
	padding-top: 4px;
	min-height: 13px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#u23385.MuseMenuActive #u23386-4 {
	padding-bottom: 0px;
	padding-top: 4px;
	min-height: 13px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#u4303,
#u22825,
#u23382,
#u35616 {
	width: 163px;
	position: relative;
}

#u35617 {
	margin-right: -10000px;
	padding-bottom: 4px;
	width: 161px;
	position: relative;
}

#u23385.MuseMenuActive,
#u35617:hover {
	min-height: 0px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u35617.MuseMenuActive {
	min-height: 0px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u35619-4 {
	margin-right: -10000px;
	left: 27px;
	padding-top: 4px;
	min-height: 13px;
	padding-left: 2px;
	position: relative;
	width: 100px;
	top: 2px;
	padding-right: 2px;
}

#u35617:hover #u35619-4 {
	padding-bottom: 0px;
	padding-top: 4px;
	min-height: 13px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u35617.MuseMenuActive #u35619-4 {
	padding-bottom: 0px;
	padding-top: 4px;
	min-height: 13px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u25283 {
	position: relative;
}

#u25284-4 {
	margin-right: -10000px;
	left: 12px;
	position: relative;
}

#u25286 {
	margin-right: -10000px;
	z-index: 114;
	position: relative;
	width: 14px;
	top: 5px;
	height: 14px;
}

#u25287 {
	width: 180px;
	top: 24px;
}

#u34369 {
	margin-right: -10000px;
	padding-bottom: 4px;
	width: 178px;
	position: relative;
}

#u34369:hover {
	min-height: 0px;
	width: 178px;
	margin: 0px -10000px 0px 0px;
}

#u34372-4 {
	margin-right: -10000px;
	left: 31px;
	padding-top: 4px;
	min-height: 13px;
	padding-left: 2px;
	position: relative;
	width: 109px;
	top: 2px;
	padding-right: 2px;
}

#u34369:hover #u34372-4 {
	padding-bottom: 0px;
	padding-top: 4px;
	min-height: 13px;
	width: 109px;
	margin: 0px -10000px 0px 0px;
}

#u34369.MuseMenuActive #u34372-4 {
	padding-bottom: 0px;
	padding-top: 4px;
	min-height: 13px;
	width: 109px;
	margin: 0px -10000px 0px 0px;
}

#u25288,
#u34366,
#u30540 {
	width: 180px;
	position: relative;
}

#u30541 {
	margin-right: -10000px;
	padding-bottom: 4px;
	width: 178px;
	position: relative;
}

#u34369.MuseMenuActive,
#u30541:hover {
	min-height: 0px;
	width: 178px;
	margin: 0px -10000px 0px 0px;
}

#u30541.MuseMenuActive {
	min-height: 0px;
	width: 178px;
	margin: 0px -10000px 0px 0px;
}

#u30543-4 {
	margin-right: -10000px;
	left: 27px;
	padding-top: 4px;
	min-height: 13px;
	padding-left: 2px;
	position: relative;
	width: 116px;
	top: 2px;
	padding-right: 2px;
}

#u30541:hover #u30543-4 {
	padding-bottom: 0px;
	padding-top: 4px;
	min-height: 13px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u30541.MuseMenuActive #u30543-4 {
	padding-bottom: 0px;
	padding-top: 4px;
	min-height: 13px;
	width: 116px;
	margin: 0px -10000px 0px 0px;
}

#u176,
#u259,
#u24179,
#u4297,
#u25282,
#u886 {
	margin-right: -10000px;
	min-height: 24px;
	position: relative;
}

#u887 {
	position: relative;
}

#u179.MuseMenuActive,
#u262.MuseMenuActive,
#u24189.MuseMenuActive,
#u4298.MuseMenuActive,
#u25283.MuseMenuActive,
#u887.MuseMenuActive {
	min-height: 0px;
	margin: 0px;
}

#u890-4 {
	margin-right: -10000px;
	left: 12px;
	position: relative;
}

#u179.MuseMenuActive #u180-4,
#u262.MuseMenuActive #u265-4,
#u24189.MuseMenuActive #u24192-4,
#u4298.MuseMenuActive #u4300-4,
#u25283.MuseMenuActive #u25284-4,
#u887.MuseMenuActive #u890-4 {
	padding-bottom: 0px;
	padding-top: 0px;
	margin: 0px -10000px 0px 0px;
}

#u888 {
	margin-right: -10000px;
	z-index: 135;
	position: relative;
	width: 14px;
	top: 5px;
	height: 14px;
}

#u179.MuseMenuActive #u181,
#u262.MuseMenuActive #u263,
#u24189.MuseMenuActive #u24190,
#u4298.MuseMenuActive #u4301,
#u25283.MuseMenuActive #u25286,
#u887.MuseMenuActive #u888 {
	min-height: 0px;
	width: 14px;
	height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u177,
#u891 {
	width: 120px;
	top: 24px;
}

#u178,
#u35397,
#u892,
#u1072 {
	width: 120px;
	position: relative;
}

#u1074 {
	margin-right: -10000px;
	padding-bottom: 4px;
	width: 118px;
	position: relative;
}

#u35400.MuseMenuActive,
#u1074:hover {
	min-height: 0px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1074.MuseMenuActive {
	min-height: 0px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1078-4 {
	margin-right: -10000px;
	left: 28px;
	padding-top: 4px;
	min-height: 17px;
	padding-left: 2px;
	position: relative;
	width: 55px;
	top: 2px;
	padding-right: 2px;
}

#u1074:hover #u1078-4 {
	padding-bottom: 0px;
	padding-top: 4px;
	min-height: 17px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u1074.MuseMenuActive #u1078-4 {
	padding-bottom: 0px;
	padding-top: 4px;
	min-height: 17px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u30508-4 {
	color: #7F7F7F;
	z-index: 162;
	position: relative;
	left: 0%;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	font-style: italic;
	letter-spacing: 1px;
	min-height: 28px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#slideshowu30685 {
	z-index: 166;
	position: relative;
	left: 0%;
}

#u30700 {
	position: absolute;
	background-color: transparent;
}

#u30700popup {
	z-index: 167;
}

/* IMAGEN 1 */
#u35013 {
	margin-right: -10000px;
	z-index: 168;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	background-color: transparent;
}

/* IMAGEN 2 */
#u30705 {
	margin-right: -10000px;
	z-index: 170;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	background-color: transparent;
}

/* IMAGEN 3 */
#u30701 {
	margin-right: -10000px;
	z-index: 172;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	background-color: transparent;
}

/* IMAGEN 4 */
#u30703 {
	margin-right: -10000px;
	z-index: 174;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	background-color: transparent;
}

/* ESTO CAMBIE CUANDO QUISE ARREGLAR LA IMAGEN QUE APARECE AL COSTADO */

#u30710{
	margin-right: -10000px;
	z-index: 178;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	background-color: transparent;
}

#u30711{
	margin-right: -10000px;
	z-index: 180;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	background-color: transparent;
}

#u30712{
	margin-right: -10000px;
	z-index: 190;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	background-color: transparent;
}

#u30713{
	margin-right: -10000px;
	z-index: 200;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	background-color: transparent;
}

#u30714{
	margin-right: -10000px;
	z-index: 210;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	background-color: transparent;
}

#u30715{
	margin-right: -10000px;
	z-index: 220;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	background-color: transparent;
}

#u30686 {
	width: 100%;
	background-color: transparent;
	position: absolute;
}

#u30686popup {
	z-index: 185;
}

#u35032-4 {
	margin-right: -10000px;
	padding-bottom: 10px;
	padding-top: 10px;
	z-index: 186;
	border-color: transparent;
	width: 100%;
	background-color: #FFFFFF;
	border-width: 0px;
	position: relative;
}

#u30689-4 {
	margin-right: -10000px;
	padding-bottom: 10px;
	padding-top: 10px;
	z-index: 190;
	border-color: transparent;
	width: 100%;
	background-color: #FFFFFF;
	border-width: 0px;
	position: relative;
}

#u30688-4 {
	margin-right: -10000px;
	padding-bottom: 10px;
	padding-top: 10px;
	z-index: 194;
	border-color: transparent;
	width: 100%;
	background-color: #FFFFFF;
	border-width: 0px;
	position: relative;
}

#u30687-4 {
	margin-right: -10000px;
	padding-bottom: 10px;
	padding-top: 10px;
	z-index: 198;
	border-color: transparent;
	width: 100%;
	background-color: #FFFFFF;
	border-width: 0px;
	position: relative;
}
#u30691-4{
	margin-right: -10000px;
	padding-bottom: 10px;
	padding-top: 10px;
	z-index: 198;
	border-color: transparent;
	width: 100%;
	background-color: #FFFFFF;
	border-width: 0px;
	position: relative;
}

#u30692-4{	
	margin-right: -10000px;
	padding-bottom: 10px;
	padding-top: 10px;
	z-index: 198;
	border-color: transparent;
	width: 100%;
	background-color: #FFFFFF;
	border-width: 0px;
	position: relative;
}

#u30693-4{	
	margin-right: -10000px;
	padding-bottom: 10px;
	padding-top: 10px;
	z-index: 198;
	border-color: transparent;
	width: 100%;
	background-color: #FFFFFF;
	border-width: 0px;
	position: relative;
}

#u30694-4{	
	margin-right: -10000px;
	padding-bottom: 10px;
	padding-top: 10px;
	z-index: 198;
	border-color: transparent;
	width: 100%;
	background-color: #FFFFFF;
	border-width: 0px;
	position: relative;
}
#u30699-4{	
	margin-right: -10000px;
	padding-bottom: 10px;
	padding-top: 10px;
	z-index: 198;
	border-color: transparent;
	width: 100%;
	background-color: #FFFFFF;
	border-width: 0px;
	position: relative;
}
#u30698-4{	
	margin-right: -10000px;
	padding-bottom: 10px;
	padding-top: 10px;
	z-index: 198;
	border-color: transparent;
	width: 100%;
	background-color: #FFFFFF;
	border-width: 0px;
	position: relative;
}

#u35032-3,
#u30689-3,
#u30688-3,
#u30687-3 {
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	line-height: 20px;
	text-align: center;
}

#u30692 {
	border-width: 0px;
	border-color: transparent;
	width: 100%;
	background-color: transparent;
	pointer-events: none;
	position: absolute;
}

#u30692popup {
	z-index: 176;
}

#u35023 {
	margin-right: -10000px;
	z-index: 177;
	min-height: 5px;
	position: relative;
	background-color: transparent;
	pointer-events: auto;
	border-color: #6B6B6B;
}

#u30697 {
	margin-right: -10000px;
	z-index: 179;
	min-height: 5px;
	position: relative;
	background-color: transparent;
	pointer-events: auto;
	border-color: #6B6B6B;
}

#u30695 {
	margin-right: -10000px;
	z-index: 181;
	min-height: 5px;
	position: relative;
	background-color: transparent;
	pointer-events: auto;
	border-color: #6B6B6B;
}

#u30693 {
	margin-right: -10000px;
	z-index: 183;
	min-height: 5px;
	position: relative;
	background-color: transparent;
	pointer-events: auto;
	border-color: #6B6B6B;
}



#u306922{
	margin-right: -10000px ;
	z-index: 200;
	min-height: 5px;
	position: relative;
	background-color: transparent;
	pointer-events: auto;
	border-color: #6B6B6B;
}

#u306923{
	margin-right: -10000px ;
	z-index: 200;
	min-height: 5px;
	position: relative;
	background-color: transparent;
	pointer-events: auto;
	border-color: #6B6B6B;
}

#u306924{
	margin-right: -10000px ;
	z-index: 200;
	min-height: 5px;
	position: relative;
	background-color: transparent;
	pointer-events: auto;
	border-color: #6B6B6B;
}
#u306925{
	margin-right: -10000px ;
	z-index: 200;
	min-height: 5px;
	position: relative;
	background-color: transparent;
	pointer-events: auto;
	border-color: #6B6B6B;
}
#u306926{
	margin-right: -10000px ;
	z-index: 200;
	min-height: 5px;
	position: relative;
	background-color: transparent;
	pointer-events: auto;
	border-color: #6B6B6B;
}
#u306927{
	margin-right: -10000px ;
	z-index: 200;
	min-height: 5px;
	position: relative;
	background-color: transparent;
	pointer-events: auto;
	border-color: #6B6B6B;
}

#u306924.SSSlideLinkSelected,
#u306925.SSSlideLinkSelected,
#u306926.SSSlideLinkSelected,
#u306927.SSSlideLinkSelected,
#u306923.SSSlideLinkSelected,
#u306922.SSSlideLinkSelected,
#u30697.SSSlideLinkSelected,
#u30695.SSSlideLinkSelected,
#u30693.SSSlideLinkSelected {
	border-width: 0px;
	border-color: transparent;
	min-height: 5px;
	margin: 0px -10000px 0px 0%;
}

.SSFirstButton,
.SSPreviousButton,
.SSNextButton,
.SSLastButton,
.SSSlideLink,
.SSCloseButton {
	cursor: pointer;
}

.SSSlideLoading {
	background: url("../images/loading.gif?crc=3815509949") no-repeat center center;
}

#pu280 {
	margin-right: -10000px;
	z-index: 144;
}

#u280 {
	margin-right: -10000px;
	width: 100%;
	z-index: 144;
	position: relative;
}

#u283-6 {
	margin-right: -10000px;
	position: relative;
	z-index: 145;
}

.html {
	background-color: #FFFFFF;
}

body {
	position: relative;
}

.verticalspacer {
	min-height: 1px;
}

#u306924_img,
#u306925_img,
#u306926_img,
#u306927_img,
#u306923_img,
#u306922_img,
#u35023_img,
#u30697_img,
#u30695_img,
#u30693_img,
#u143_img {
	width: 100%;
}

@media (min-width: 501px),
print {
	#muse_css_mq {
		background-color: #FFFFFF;
	}

	#bp_infinity.active {
		display: block;
	}

	#page {
		min-height: 515px;
		max-width: 960px;
	}

	#pu119 {
		padding-bottom: 1px;
		width: 96.36%;
	}

	#u119 {
		padding-bottom: 3px;
		width: 99.46%;
		margin-left: 2.06%;
	}

	#u4127 {
		margin-top: 2px;
		left: 75px;
	}

	#u21685 {
		margin-top: 4px;
		left: 853px;
	}

	#u143 {
		margin-top: 5px;
		width: 2.61%;
		left: 96.64%;
	}

	#pu3320 {
		z-index: 151;
		margin-top: 22px;
		width: 88.87%;
	}

	#u3320 {
		margin-right: -10000px;
		margin-left: 56px;
	}

	#u3754-4 {
		margin-right: -10000px;
		margin-top: 38px;
		width: 46.84%;
		left: 53.17%;
		margin-left: 6.82%;
	}

	#u4186 {
		margin-top: 28px;
		width: 99.46%;
		margin-left: 2.17%;
	}

	#menuu168 {
		width: 868px;
		margin-top: 9px;
		margin-left: 5.41%;
	}

	#u176,
	#u179 {
		width: 162px;
	}

	#u179.MuseMenuActive {
		width: 160px;
	}

	#u180-4 {
		width: 122px;
		min-height: 24px;
		top: -1px;
	}

	#u179.MuseMenuActive #u180-4 {
		min-height: 24px;
		width: 122px;
	}

	#u181 {
		left: 135px;
	}

	#u259 {
		width: 163px;
		left: 164px;
	}

	#u262 {
		width: 163px;
	}

	#u262.MuseMenuActive {
		width: 161px;
	}

	#u265-4 {
		width: 123px;
		min-height: 24px;
		top: -1px;
	}

	#u262.MuseMenuActive #u265-4 {
		min-height: 24px;
		width: 123px;
	}

	#u263 {
		left: 136px;
	}

	#u24179 {
		width: 119px;
		left: 329px;
	}

	#u24189 {
		width: 119px;
	}

	#u24189.MuseMenuActive {
		width: 117px;
	}

	#u24192-4 {
		width: 80px;
		min-height: 24px;
	}

	#u24189.MuseMenuActive #u24192-4 {
		min-height: 24px;
		width: 80px;
	}

	#u24190 {
		left: 92px;
	}

	#u4297 {
		width: 131px;
		left: 450px;
	}

	#u4298 {
		width: 131px;
	}

	#u4298.MuseMenuActive {
		width: 129px;
	}

	#u4300-4 {
		width: 92px;
		min-height: 24px;
	}

	#u4298.MuseMenuActive #u4300-4 {
		min-height: 24px;
		width: 92px;
	}

	#u4301 {
		left: 104px;
	}

	#u25282 {
		width: 155px;
		left: 583px;
	}

	#u25283 {
		width: 155px;
	}

	#u25283.MuseMenuActive {
		width: 153px;
	}

	#u25284-4 {
		width: 116px;
		min-height: 24px;
	}

	#u25283.MuseMenuActive #u25284-4 {
		min-height: 24px;
		width: 116px;
	}

	#u25286 {
		left: 128px;
	}

	#u886 {
		width: 128px;
		left: 740px;
	}

	#u887 {
		width: 128px;
	}

	#u887.MuseMenuActive {
		width: 126px;
	}

	#u890-4 {
		width: 89px;
		min-height: 24px;
	}

	#u887.MuseMenuActive #u890-4 {
		min-height: 24px;
		width: 89px;
	}

	#u888 {
		left: 101px;
	}

	#u30508-4 {
		margin-top: 39px;
		width: 33.19%;
		margin-left: 35.36%;
	}

	#slideshowu30685 {
		padding-bottom: 13px;
		margin-top: 25px;
		width: 99.79%;
		margin-left: 1.84%;
	}

	/* CON ESTO CENTRAMOS LA IMAGEN CUANDO VA PASANDO */

	#u35013_img {
		padding: 1px 123px 1px 143px;
	}

	#u30705_img {
		padding-left: 81px;
		padding-right: 81px;
	}

	#u30701_img {
		padding: 18px 125px 17px 124px;
	}
		
	#u30703_img {
		padding: 2px 108px 2px 110px;
	}

	#u30710_img{
		padding: 2px 108px 2px 110px;
	}

	#u30711_img{
		padding: 2px 108px 2px 110px;
	}

	#u30712_img{
		padding: 2px 108px 2px 110px;
	}

	#u30713_img{
		padding: 2px 108px 2px 110px;
	}
	#u30714_img{
		padding: 2px 108px 2px 110px;
	}
	#u30715_img{
		padding: 2px 108px 2px 110px;
	}



	#u30711,
	#u30713,
	#u30714,
	#u30715,
	#u30712,
	#u30710,
	#u30700,
	#u30700popup,
	#u35013,
	#u30705,
	#u30701,
	#u30703 {
		width: 923px;
		height: 761px;
	}
	


	#u30686popup {
		height: 40px;
		margin-top: 21px;
		width: 100%;
	}
	#u30691-4,
	#u30692-4,
	#u30693-4,
	#u30694-4,
	#u30699-4,
	#u30698-4,
	#u35032-4,
	#u30689-4,
	#u30688-4,
	#u30687-4 {
		min-height: 20px;
	}

	#u35032-3,
	#u30689-3,
	#u30688-3,
	#u30687-3 {
		color: #000000;
		margin-left: 1.09%;
		margin-right: 1.0834236186348862%;
	}

	#u30692popup {
		height: 51px;
		margin-top: 20px;
    width: 63.76%;
    margin-left: 3.07%;
	}
	
	/* ESTO CAMBIA LA POSICOON DEL CARROUSEL CHICO */

	#u35023 {
		width: 8.78%;
		left: 30.36%;
	}

	#u30697 {
		width: 8.78%;
		left: 40.53%;
	}

	#u30695 {
		width: 8.78%;
		left: 50.71%;
	}

	#u30693 {
		width: 8.78%;
		left: 60.88%;
	}

	#u306922{
		width: 8.78%;
		left: 70.88%;
	}

	#u306923{
		width: 8.78%;
		left: 80.88%;
	}
	#u306924{
		width: 8.78%;
    left: 90.88%;
	}
	#u306925{
		width: 8.78%;
    left: 99.88%;
	}
	#u306926{
		width: 8.78%;
		left: 108.88%;
	}
	#u306927{
		width: 8.78%;
    left: 117.88%;
	}

	#u306924.SSSlideLinkSelected,
	#u306925.SSSlideLinkSelected,
	#u306926.SSSlideLinkSelected,
	#u306927.SSSlideLinkSelected,
	#u306923.SSSlideLinkSelected,
	#u35023.SSSlideLinkSelected,
	#u30697.SSSlideLinkSelected,
	#u30695.SSSlideLinkSelected,
	#u30693.SSSlideLinkSelected {
		width: 8.78%;
	}

	.css_verticalspacer .verticalspacer {
		height: calc(100vh - 1310px);
	}

	#pu280 {
		margin-top: -1px;
		width: 95.84%;
		margin-left: 2.09%;
	}

	#u280 .fluid_height_spacer {
		padding-bottom: 7.282608695652174%;
	}

	#u283-6 {
		min-height: 26px;
		margin-top: 13px;
		width: 96.31%;
		left: 2.29%;
	}

	body {
		padding-bottom: 21px;
	}
}

@media (max-width: 500px) {
	#muse_css_mq {
		background-color: #0001f4;
	}

	#bp_500.active {
		display: block;
	}

	#page {
		min-height: 681px;
		padding-bottom: 2px;
		max-width: 500px;
	}

	#pu119 {
		width: 100%;
	}

	#u119 {
		width: 92.2%;
		margin-left: 3.61%;
	}

	#u4127 {
		margin-top: 5px;
		left: 103px;
	}

	#u21685 {
		margin-top: 5px;
		left: 391px;
	}

	#u143 {
		margin-top: 6px;
		width: 5.21%;
		left: 92.63%;
	}

	#u3320 {
		margin-top: 14px;
		margin-left: 94px;
	}

	#u3754-4 {
		margin-top: 10px;
		width: 85.6%;
		left: 0%;
		margin-left: 7.2%;
	}

	#u4186 {
		margin-top: 11px;
		width: 91.2%;
		margin-left: 4.61%;
	}

	#menuu168 {
		width: 500px;
		margin-top: 12px;
		margin-left: 0%;
	}

	#u176 {
		width: 90px;
	}

	#u179 {
		width: 90px;
		padding-bottom: 10px;
	}

	#u180-4 {
		width: 50px;
		min-height: 12px;
		top: 5px;
	}

	#u259 {
		width: 90px;
		left: 92px;
	}

	#u262 {
		width: 90px;
		padding-bottom: 10px;
	}

	#u179.MuseMenuActive,
	#u262.MuseMenuActive {
		width: 88px;
	}

	#u265-4 {
		width: 50px;
		min-height: 12px;
		top: 5px;
	}

	#u179.MuseMenuActive #u180-4,
	#u262.MuseMenuActive #u265-4 {
		min-height: 12px;
		width: 50px;
	}

	#u181,
	#u263 {
		left: 63px;
	}

	#u24179 {
		width: 72px;
		left: 184px;
	}

	#u24189 {
		width: 72px;
		padding-bottom: 10px;
	}

	#u24189.MuseMenuActive {
		width: 70px;
	}

	#u24192-4 {
		width: 33px;
		min-height: 12px;
		top: 6px;
	}

	#u24189.MuseMenuActive #u24192-4 {
		min-height: 12px;
		width: 33px;
	}

	#u24190 {
		left: 45px;
	}

	#u4297 {
		width: 75px;
		left: 258px;
	}

	#u4298 {
		width: 75px;
		padding-bottom: 10px;
	}

	#u4298.MuseMenuActive {
		width: 73px;
	}

	#u4300-4 {
		width: 36px;
		min-height: 12px;
		top: 6px;
	}

	#u4298.MuseMenuActive #u4300-4 {
		min-height: 12px;
		width: 36px;
	}

	#u4301 {
		left: 48px;
	}

	#u25282 {
		width: 86px;
		left: 335px;
	}

	#u25283 {
		width: 86px;
		padding-bottom: 10px;
	}

	#u25283.MuseMenuActive {
		width: 84px;
	}

	#u25284-4 {
		width: 47px;
		min-height: 12px;
		top: 6px;
	}

	#u25283.MuseMenuActive #u25284-4 {
		min-height: 12px;
		width: 47px;
	}

	#u25286 {
		left: 59px;
	}

	#u886 {
		width: 77px;
		left: 423px;
	}

	#u887 {
		width: 77px;
		padding-bottom: 10px;
	}

	#u887.MuseMenuActive {
		width: 75px;
	}

	#u890-4 {
		width: 38px;
		min-height: 12px;
		top: 6px;
	}

	#u887.MuseMenuActive #u890-4 {
		min-height: 12px;
		width: 38px;
	}

	#u888 {
		left: 50px;
	}

	#u30508-4 {
		margin-top: 27px;
		width: 63.6%;
		margin-left: 18.2%;
	}

	#slideshowu30685 {
		padding-bottom: 6px;
		margin-top: 21px;
		width: 92%;
		margin-left: 4.81%;
	}

	#u35013_img {
		padding-left: 92px;
		padding-right: 75px;
	}

	#u30705_img {
		padding-left: 90px;
		padding-right: 89px;
	}

/* CSS NUEVO */

#u30701_img {
	padding-left: 97px;
	padding-right: 97px;
}


	
/* CSS NUEVO */


	#u30710{
		margin-right: -10000px;
		z-index: 174;
		border-width: 0px;
		border-color: transparent;
		position: relative;
		background-color: transparent;	
		margin-right: -10000px;
		z-index: 174;
		border-width: 0px;
		border-color: transparent;
		position: relative;
		background-color: transparent;
	}
	

	#u30710_img{
		padding-left: 86px;
		padding-right: 93px;
	}

	#u30703_img {
		padding-left: 86px;
		padding-right: 93px;
	}

	#u30711_img{
		padding-left: 86px;
		padding-right: 93px;
	}
	#u30712_img{
		padding-left: 86px;
		padding-right: 93px;
	}
	#u30713_img{
		padding-left: 86px;
		padding-right: 93px;
	}
	#u30714_img{
		padding-left: 86px;
		padding-right: 93px;
	}
	#u30715_img{
		padding-left: 86px;
		padding-right: 93px;
	}


	#u30711,
	#u30712,
	#u30713,
	#u30714,
	#u30715,
	#u30710,
	#u30700,
	#u30700popup,
	#u35013,
	#u30705,
	#u30701,
	#u30703 {
		width: 460px;
		height: 281px;
	}




	#u30686popup {
		height: 60px;
		margin-top: 16px;
		width: 95.87%;
		margin-left: 1.31%;
	}

	#u30691-4,
	#u30692-4,
	#u30693-4,
	#u30694-4,
	#u30699-4,
	#u30698-4,
	#u35032-4,
	#u30689-4,
	#u30688-4,
	#u30687-4 {
		min-height: 40px;
	}

	#u35032-3,
	#u30689-3,
	#u30688-3,
	#u30687-3 {
		color: #999999;
		margin-left: 2.27%;
		margin-right: 2.2675736961451247%;
	}

	#u30692popup {
		height: 26px;
		margin-top: 16px;
		width: 70.44%;
		margin-left: 3.07%;
	}

	#u35023 {
		width: 8.03%;
		left: 31.8%;
	}

	#u30697 {
		width: 8.03%;
		left: 41.05%;
	}

	#u30695 {
		width: 8.03%;
		left: 50.31%;
	}

	#u30693 {
		width: 8.03%;
		left: 59.88%;
	}





	/* IMAGEN DE ABAJO */
	#u306922 {
		width: 8.03%;
		left: 70.88%;
	}

	#u306923{
		width: 8.03%;
		left: 80.88%;
	}
	
	#u306924{
    width: 8.03%;
    left: 91.88%;
	}
	#u306925{
    width: 8.03%;
    left: 99.88%;
	}
	#u306926{
    width: 8.03%;
    left: 100.88%;
	}
	#u306927{
    width: 8.03%;
    left: 109.88%;
	}


	#u306923.SSSlideLinkSelected,
	#u306924.SSSlideLinkSelected,
	#u306925.SSSlideLinkSelected,
	#u306926.SSSlideLinkSelected,
	#u306927.SSSlideLinkSelected,
	#u306922.SSSlideLinkSelected,
	#u35023.SSSlideLinkSelected,
	#u30697.SSSlideLinkSelected,
	#u30695.SSSlideLinkSelected,
	#u30693.SSSlideLinkSelected {
		width: 8.03%;
	}

	.css_verticalspacer .verticalspacer {
		height: calc(100vh - 885px);
	}

	#pu280 {
		margin-top: 18px;
		width: 92.2%;
		margin-left: 4%;
	}

	#u280 .fluid_height_spacer {
		padding-bottom: 20.390455531453362%;
	}

	#u283-6 {
		min-height: 76px;
		margin-top: 14px;
		width: 93.5%;
		left: 3.26%;
	}

	body {
		overflow-x: hidden;
		min-width: 500px;
		padding-bottom: 14px;
	}
}